<% include partials/header.ejs %>
<br><br><br><br>
<b><font size="6"><center>WELCOME DEVILS</font>
<br><br>
<font size="5">
<a href="/new_item_form">Add New Items</a><br>
<a href="/vendor_items">View Your Uploaded Items</a><br>
<a href="/all_items">View All Uploaded Items</a><br>
</center></font></b>
<% include partials/footer.ejs %>


